/* header related style */
.nav-bar {
    display: flex;
    background-color: aqua;
    justify-content: space-between;

}

#hero {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#travel-1 {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#home {
    color: #FF5400;
}

.nav-bar>div>p {
    align-items: center;
    display: flex;
    gap: 20px;
}

.nav-bar>div>ul {
    display: flex;
}

.nav-bar li {
    list-style-type: none;
    padding: 10px;
}




/* banner rellated style */
.banner {
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    height: 501px;
    width: 1197px;
    background-repeat: no-repeat;
    margin-left: 50px;
}

.form-section {
    display: flex;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
}
#box{
    border-radius: 8px;
background: #FFF;
width: 174px;
height: 52px;
flex-shrink: 0;
}
#button{
    border-radius: 8px;
background-color: #FF5400;
width: 174px;
height: 52px;
flex-shrink: 0;
/* text related */
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;






}