/* header related style */
.nav-bar {
    display: flex;
    background-color: aqua;
    justify-content: space-between;

}

#hero {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#travel-1 {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#home {
    color: #FF5400;
}

.nav-bar>div>p {
    align-items: center;
    display: flex;
    gap: 20px;
}

.nav-bar>div>ul {
    display: flex;
}

.nav-bar li {
    list-style-type: none;
    padding: 10px;
}




/* banner rellated style */
.banner {
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    height: 501px;
    width: 1197px;
    background-repeat: no-repeat;
    margin-left: 50px;
}

.heading {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    padding-left: 275px;
    padding-top: 100px;
}

.text-design {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 10px 50px;

}

.form-section {
    display: flex;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    padding-left: 70px;
    justify-content: space-around;
}

#box {
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    margin: 0px 15px;

}

#button {
    border-radius: 8px;
    background-color: #FF5400;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    margin-right: 280px;

    /* text related */
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}









/* responsive media qurery */
@media screen and (max-width:576px) {
    .banner {
        width: 335px;
        height: 483px;
        flex-shrink: 0;
        background-size: 335px 483px;
    }
    .heading{
        font-size: 22px;
        padding:0px 64px 2px 86px;
        width: 200px;
        padding-top: 12px;
    }
    .text-design{
        font-size: 14px;
        padding: 5px;
    }

    .form-section {
        flex-direction: column;
        width: 255px;
        height: 40px;
        flex-shrink: 0;
        padding-top: 100px;
        gap: 5px;
        
      
     
    }
    #box{
       margin-bottom: 5px;
      height: 52px;
      width: 200px;
      
    }
    #button{
        margin-left: 15px;
        width: 200px;
    }

}